.searchResults {
    list-style-type: none;
}

.albumPreviews {
    text-align: center;
    position: relative;
    transition: 0.3s ease;
}

.albumPreviews::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: 0.3s ease;
}

.albumPreviews:hover::before {
    opacity: 1; 
  }
