.albumPage {
    background-color: #282828;
    height: 100%;
}

.albumInfo {
    display: flex;
    align-items: center;
}

.album {
    color: white;  
    width: 50%; 
    padding: 10px;
}

.tracks-info {
    color: white;
    justify-content: flex-end;
    flex-grow: 1;
    margin-left: 20px;
}

.tracks-info > h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

li {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: left;
}

#album-name {
    font-size: 35px;
    font-weight: bold;
}

#artist-name {
    font-size: 20px
}

.newReviewButton button {
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    border-radius: 15px;
    background-color: #7D92AB;
    color: white;
    border-style: none;
    margin: 5px;
    width: 40%;
    height: 100px;
    cursor: pointer;
}